<form action="/search" method="get" class="search-form search-block-form" id="views-exposed-form-search-page-1" accept-charset="UTF-8" data-drupal-form-fields="edit-search-api-fulltext">
    <input placeholder="Search for a school or person" class="form-search" size="15" data-drupal-selector="edit-search-api-fulltext" type="text" id="edit-search-api-fulltext" name="search_api_fulltext" maxlength="128">
    <input data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Search" class="search-form__submit button js-form-submit form-submit">
</form>