#toolbar-administration {
  font-family: Verdana, sans-serif;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

table, button, input, textarea, select {
  font-size: 1em;
  font-family: inherit;
}

fieldset {
  padding: 1em 1.25em 0;
}

ul {
  padding: 0 0 0.25em 1.4em;
}

.form-composite > .fieldset-wrapper > .description, .form-item .description {
  font-size: 1em;
}

h1, h2, summary, .slink-button-primary {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.4em;
}

h2 a:hover, h2 a:focus {
  border: none;
}

details {
  border-color: #bbb;
}

summary {
  color: #000;
  text-shadow: none;
  font-weight: normal;
  font-size: 1.4em;
}

summary:focus {
  outline: none;
}

details > .details-wrapper {
  padding: 1em 1.5em;
}

.page-title {
  font-size: 2.3em;
  margin: 0.5em 0;
}

.main-content h2 {
  font-size: 1.4em;
}

.node--view-mode-teaser {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.node--view-mode-teaser .node__content {
  margin: 0;
}

.field--type-entity-reference {
  margin: 0;
}

.sidebar .block .content {
  font-size: 1em;
}

.sidebar .block.menu--school-admin {
  padding: 0;
  background: none;
  border: none;
}

.menu--school-admin .menu {
  padding: 0;
}

.menu--school-admin .menu-item a {
  display: block;
  margin: 0.2em 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #c5c5c5;
  border-top-color: #ddd;
  border-left-color: #ddd;
}

.menu--school-admin .menu-item a:hover {
  background: #f2f2f2;
  color: #026aa7;
}

.slink-button-primary {
  display: inline-block;
  background: #007ac6;
  color: #fff;
  border: none;
  padding: 0.3em 1.2em;
  border-radius: 6px;
  font-size: 1.3em;
}

.slink-button-primary:hover, .slink-button-primary:focus {
  color: #fff;
  background: #0087db !important;
  border: none;
}