.table-field-group table {
  width: auto;
  border-collapse: separate;
  border-spacing: 3px;
}

.table-field-group th {
  background: #e3e3e3;
  color: #000;
  font-weight: normal;
}

.table-field-group td {
  background: #fff;
}
